<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="logging.level" source="logging.level.com.wanjia"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="${logging.level}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>